[submodule "1yzz.github.io"]
	path = 1yzz.github.io
	url = https://github.com/1yzz/1yzz.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/1yzz/1yzz.github.io
	branch = master
